<aside class="side-menu d-flex flex-column">
    <div class="logo">
        <h1>
            <img src="../assets/images/logo-ANSWER.svg" alt="">
        </h1>
    </div>
    <ul class="list-group d-flex ">
        <li class="list-group-item">
            <a href="">
                <span class="material-symbols-outlined">
                    insert_chart
                </span>
                Dashboard
            </a>
        </li>
        <li class="list-group-item">
            <a href="">
                <span class="material-symbols-outlined">
                    forum
                </span>
                Question
            </a>
        </li>
        <li class="list-group-item active">
            <a href="index.html">
                <span class="material-symbols-outlined">
                    assignment
                </span>
                Assignment
            </a>
        </li>
        <li class="list-group-item">
            <a href="">
                <span class="material-symbols-outlined">
                    video_library
                </span>
                Course
            </a>
        </li>
        <li class="list-group-item">
            <a href="admin.html">
                <span class="material-symbols-outlined">
                    group
                </span>
                Admin
            </a>
        </li>
        <li class="list-group-item">
            <a href="">
                <span class="material-symbols-outlined">
                    settings
                </span>
                Settings
            </a>
        </li>

    </ul>
    <div class="ps-3 mt-auto">
        <div class="user-info ps-3">
            <img src="../assets/images/andychen.jpeg" alt="">
            <div class="d-flex flex-column justify-content-center">
                <p>Andy Chen</p>
                <a href="mailto:andy0401@mail.com" class="caption">andy0401@mail.com</a>
            </div>
        </div>
    </div>

</aside>