// user info
.user-info {
    display: flex;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: $spacer;
    }

    p {
        line-height: 1;
        font-weight: 600;
        margin-bottom: 4px;
    }

}

p.caption {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: $gray-600;
    margin-top: 4px;
}

// header
.title-group {
    margin-bottom: 44px;

    h2 {
        font-size: 24px;
        line-height: 1;
    }
}

.title-group .dropdown button,
.accordion-item:first-of-type>.accordion-header .accordion-button {

    display: flex;
    align-items: center;
    background-color: transparent;
    color: $gray-900;
    border: none;
    padding: 0;

    &::after {
        display: none;
    }

    span {
        width: 24px;
        height: 24px;
        color: $success;
    }

}



// tool btn
.tool-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

// table
.table {
    margin-bottom: 64px;

    * {
        vertical-align: middle;
    }

    thead tr {
        border-bottom: 1px solid $gray-900;

        th {
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }

    tbody td {
        padding: 16px 8px;
    }

}

// pagination
ul.pagination {

    .page-item {
        width: 32px;
        height: 32px;


        .page-link {
            border: $success 1px solid;
            line-height: 1;
            height: 100%;
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $gray-900;
        }
        &:first-child .page-link{
            border-radius:  2px 0 0 2px;
        }
        &:last-child .page-link{
            border-radius:   0 2px 2px 0;
        }
        &.active .page-link{
            background-color: $success;
           color:white;
        }
    }
}