// user info
.user-info {
    display: flex;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: $spacer;
    }

    p {
        line-height: 1;
        font-weight: 600;
        margin-bottom: 4px;
    }

}

p.caption {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: $gray-600;
    margin-top: 4px;
}

// header
.title-group {
    margin-bottom: 44px;

    h2 {
        font-size: 24px;
        line-height: 1;
    }
}

.title-group .dropdown button,
.accordion-item:first-of-type>.accordion-header .accordion-button {

    display: flex;
    align-items: center;
    background-color: transparent;
    color: $gray-900;
    border: none;
    padding: 0;

    &::after {
        display: none;
    }

    span {
        width: 24px;
        height: 24px;
        color: $success;
    }

}



// tool btn
.tool-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

// message 
.message-list,
.message-content {

    .list-group-item,
    .list-group-item.active {
        color: $gray-900;
        padding: 12px;
    }

    .list-group-item.active {
        background-color: $gray-100;
        border-color: $gray-400;
    }

    .list-group-item-title {
        width: 100%;
        flex-shrink: 2;

        .subtitle {
            font-size: 12px;
            line-height: 2;
        }

        .title {
            font-weight: 600;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 19px;
            word-wrap: break-word;
        }

    }

    .list-group-item-user {
        flex-basis: 80px;

        .time {
            font-size: 12px;
            text-align: right;
        }

        .user-name {
            font-size: 12px;
            text-align: right;
            color: $gray-600;
        }
    }


}

.message-list {

    flex-shrink: 1;
    flex-basis: 320px;
}

.message-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 600px;
    margin-top: -27px;

    .message-content-text {
        font-size: 14px;

        span {
            color: $success;
            font-family: "Roboto Mono", sans-serif;
            padding: 1px 4px;
            background-color: $gray-100;
            border-radius: 2px;
        }
    }
}

.attachment {
    display: flex;
    width: fit-content;
    align-items: center;
    border: 1px solid $gray-400;
    background-color: $gray-100;
    border-radius: 2px;

    p {
        margin-bottom: 0;
        font-weight: 600;
    }
}

// manage button
.manage-button {
    button {
        padding: 8px 32px;
        border-radius: 2px;
        line-height: 1;
    }
}